@import "variables";

input, label, select {
    margin: 2px;
    padding: 5px;
    width: 200px;
}

input {
    border: 0;
    background-color: $light;
    color: #000000;

    &:focus {
        outline: none;
        background-color: $primary;
        color: #000000;
    }
}

label {
    width: 150px
}

.custom-select {

    ul {
        width: 200px;
    }

    li {
        background-color: $primary;
    }

    input {
        visibility: hidden;
    }

}

.submit, .reset {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid white;
    padding: 5px;
    width: 100%;

    &:hover {
        background-color: $secondary;
        border: 1px $secondary solid;
        color: #000;
    }
}
