@import "variables";
@import "form-elements";
@import "normalize";

body {
    font-size: 1em;
    font-family:  'Open Sans', sans-serif;
    background-color: $light;
    overflow: hidden;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.search-filter {
    flex: 1;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: $secondary;
    padding: $small;
    width: 100%;
}

.navbar {
    margin-bottom: $normal;
    background-color: $primary;
    padding: $small;
    padding-left: 50px;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    width: 100%;
}

.box {
    margin-left: $normal;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.vizContainer {
    width: 100%;
    flex: 2;
}

button {
    padding: $very-small;
}

