@import "variables";
@import "form-elements";
@import "network-viz-elements";

body {
    font-size: 1em;
    font-family: Verdana, Geneva, sans-serif;
    background-color: $light;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.search-filter {
    flex: 1;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.navbar {
    margin-bottom: 2%;
    background-color: $dark;
    padding: 10px;
    text-transform: uppercase;
    justify-content: space-between;
}

.box {
    margin-left: 2%;
    background-color: white;
    padding: 10px;
}

.vizContainer {
    height: 400px;
    width: 800px;
    flex: 2;
}

button {
    padding: 5px;
}
